
.weblogo {
    width: 70px;
    margin-left: 20px;
    margin-right: 10px;
}

.webname {
    padding-top: 10px;
    font-size: 30px;
}

.fulllogo {
    display: flex;
    flex-direction: row;
    background-color: #3498db;
}



.dropbtn1,
.dropbtn2,
.homebtn,
.viewbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn1:hover,
.dropbtn1:focus,
.dropbtn2:hover,
.dropbtn2:focus,
.homebtn:hover,
.homebtn:focus,
.viewbtn:hover,
.viewbtn:focus {
    background-color: #2980B9;
}

.dropdown1,
.dropdown2 {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


.searchicon {
    width: 30px;
}

.navlinks {
    display: flex;
    align-items: center;
    background-color: #3498DB;
}

.navlinks a {
    text-decoration: none;
    margin-right: 15px;
}


.searchpad {
    margin-left: auto;
    margin-right: 30px;
    height: 40px;
}

nav{
    margin: 0;
}