table{
    border: 1px solid;
    border-collapse: collapse;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: #333;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: rgb(197, 217, 230);
}

td, th{
    padding: 20px;
}

img{
    width: 100px;
}
